appdirs
Brotli
click
cycler
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
distlib
filelock
Flask
Flask-Compress
future
gunicorn
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
plotly
pyparsing
python-dateutil
pytz
retrying
scipy
six
virtualenv
Werkzeug